/target/
Cargo.lock
**/*.rs.bk
*.pdb
*.profraw
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
cmake-build-*/
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*~
*.rs.fmt
*.log
.env
compile_commands.json
flamegraph.svg
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
